[Unit]
Description=Blink Led Script LAFON SAS

[Service] 
Type=simple
WorkingDirectory=/root/
ExecStart=/bin/sh -c 'sleep 5 ; /root/blinkled.sh'
SyslogIdentifier=blinkled 

[Install]
WantedBy=multi-user.target

