[Unit]
Description=MagFleet PDE application
PartOf=magfleet-mid.target

[Service]
Type=notify
ExecStartPre=/usr/appid/verify.sh
ExecStart=/root/easy/EB_Pde
Restart=always
RestartSec=500ms

[Install]
WantedBy=magfleet-mid.target
Alias=pde.service
