[Unit]
Description=MagFleet IFSF application
PartOf=magfleet-mid.target

[Service]
Type=notify
ExecStartPre=/usr/appid/verify.sh
ExecStart=/root/easy/EB_Ifsf
Restart=always
RestartSec=500ms

[Install]
WantedBy=magfleet-mid.target
Alias=ifsf.service
