[Unit]
Description=MagFleet IHM application
After=magfleet-sha256.service
PartOf=magfleet-application.target

[Service]
Type=notify
ExecStart=/root/easy/EB_Ihm
Restart=always
RestartSec=500ms

[Install]
WantedBy=magfleet-application.target
Alias=ihm.service
